body {
    font-family: Arial, sans-serif;
    ::selection{
      background-color: blue;
      color: white;
    }
  }
  
  .container {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h1 ,h2{
    text-align: center;
    color: #0921fc;
  }
  
  .quote-container {
    text-align: center;
  }
  
  #quote-text {
    color: #626fe4;
  }
  
  #generate-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2851c2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #generate-btn:hover {
    background-color: #57dcee;
  }
  